<div class="row">

    <div class="col-sm-12">

        <h1 class="text-center">Hello, guest! Welcome to sudoku game!</h1>

        <div class="form-group form-inline text-center">

            <button type="button" class="btn btn-primary">New game</button>
            <button type="button" class="btn btn-warning" ng-click="onHintClick()">Get hint</button>
            <button type="button" class="btn btn-success">Check result</button>

        </div>

        <div ng-if="data">

            <game-field field-data="data"></game-field>

        </div>

    </div>

</div>